<div class="picture clearfix">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./Content/images/pic_01.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./Content/images/pic_01.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./Content/images/pic_01.png" alt="">
            </div>
        </div>
        <div class="swiper-pagination">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<div class="IOS">
    <h2>IOS开发介绍</h2>
    <p>移动互联网行业的大势所趋，学IT，首选八维教育</p>
    <div class="list-item">
        <div class="col-xs-6" ng-repeat="info in info">
            <dl>
                <dt>
                    <img ng-src="{{info.images}}" alt="">
                </dt>
                <dd>
                    <h2>
                        {{info.title}}
                    </h2>
                    <ul>
                        <li ng-repeat="info in info.content">{{info}}</li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="shixun">
    <h2>项目实训</h2>
    <p>移动互联网行业的大势所趋，学IT，首选八维教育</p>
    <div class="list-more">
        <div class="col-xs-6">
            <dl>
                <dt>
                    <img src="./Content/images/phone.jpg" alt="">
                </dt>
                <dd>
                    <p>七点广告工作室</p>
                </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl>
                <dt>
                    <img src="./Content/images/book.jpg" alt="">
                </dt>
                <dd>
                    <p>七点广告工作室</p>
                </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl>
                <dt>
                    <img src="./Content/images/book.jpg" alt="">
                </dt>
                <dd>
                    <p>七点广告工作室</p>
                </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl>
                <dt>
                    <img src="./Content/images/book.jpg" alt="">
                </dt>
                <dd>
                    <p>七点广告工作室</p>
                </dd>
            </dl>
        </div>
    </div>
    <div class="cont">
        <p>
            传统教育重理论、轻实践，大学生虽然理论基础扎实，但工作能力和工作经验缺乏。八维大学生实训项目，以市场需求为导向，让学生置身职场环境，通过实际项目强化理论知识，提高专业能力，提升职业素养，积累项目惊讶，使学生成为理论知识雄厚，工作能力出众、实践。
        </p>
        <div class="kec">
            <h2>课程规划</h2>
            <p>移动互联网行业的大势所趋，学IT，首选八维教育</p>
            <div class="col-xs-12 bg-b">
                <dl>
                    <dt>
                    <h3>第一阶段</h3>
                    </dt>
                    <dd>
                            <span>
                                html
                            </span>
                            <span>
                                javascript
                            </span>
                            <span>
                                css
                            </span>
                    </dd>
                </dl>
            </div>
            <div class="col-xs-12 bg-z">
                <dl>
                    <dt>
                    <h3>第一阶段</h3>
                    </dt>
                    <dd>
                            <span>
                                html
                            </span>
                            <span>
                                javascript
                            </span>
                            <span>
                                css
                            </span>
                    </dd>
                </dl>
            </div>
            <div class="col-xs-12 bg-g">
                <dl>
                    <dt>
                    <h3>第一阶段</h3>
                    </dt>
                    <dd>
                            <span>
                                html
                            </span>
                            <span>
                                javascript
                            </span>
                            <span>
                                css
                            </span>
                    </dd>
                </dl>
            </div>
            <div class="col-xs-12 bg-p">
                <dl>
                    <dt>
                    <h3>第一阶段</h3>
                    </dt>
                    <dd>
                        <span>
                            html
                        </span>
                        <span>
                            javascript
                        </span>
                        <span>
                            css
                        </span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="dir">
        <h2>就业方向</h2>
        <p>IOS工程师，苹果手机上的应用软件开发</p>
        <div class="col-xs-12 clearfix">
            <p>移动互联网流行的开始，应该从2007年苹果发布第一代智能手机，而真正迈入我们生活中，到2010年左右，通过5年的发展，行业如井喷式的爆发。人才需求量如应用数量和企业需要一样只增不减。</p>
            <p>行业如井喷式的爆发。人才需求量如应用数量和企业需要一样只增不减。</p>
            <ul class="col-xs-12">
                <li class="col-xs-4">
                    <img src="./Content/images/sohu.jpg" alt="">
                </li>
                <li class="col-xs-4">
                    <img src="./Content/images/leno.jpg" alt="">
                </li>
                <li class="col-xs-4">
                    <img src="./Content/images/lef.jpg" alt="">
                </li>
                <li class="col-xs-4">
                    <img src="./Content/images/iso.jpg" alt="">
                </li>
                <li class="col-xs-4">
                    <img src="./Content/images/boy.jpg" alt="">
                </li>
                <li class="col-xs-4">
                    <img src="./Content/images/letv.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="mub">
        <h2>
            目标薪资
        </h2>
        <p>
            初级、中级、高级IOS开发工程师薪资标准
        </p>
        <div class="mub-list">
            <div class="col-xs-4 bg-b">
                <dl>
                    <dt>
                        <h3>初级</h3>
                        <h4>IOS开发工程师</h4>
                        <p>6000-8000元</p>
                    </dt>
                    <dd>
                        <p>培训2个月</p>
                    </dd>
                </dl>
            </div>
            <div class="col-xs-4 bg-g">
                <dl>
                    <dt>
                    <h3>初级</h3>
                    <h4>IOS开发工程师</h4>
                    <p>6000-8000元</p>
                    </dt>
                    <dd>
                        <p>培训2个月</p>
                    </dd>
                </dl>
            </div>
            <div class="col-xs-4 bg-p">
                <dl>
                    <dt>
                    <h3>初级</h3>
                    <h4>IOS开发工程师</h4>
                    <p>6000-8000元</p>
                    </dt>
                    <dd>
                        <p>培训2个月</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="all">
        <button type="button" class="col-xs-12 bg-b" >查看八维就业薪资>></button>
    </div>
    <div class="back" ng-click="back()">
        <i class="fa fa-angle-up"></i>
        <span>返回顶部</span>
    </div>
</div>
