<header class="header">
    <div class="header-top">
        <div class="more">
            <i class="fa fa-home"></i>
        </div>
        <div>
            <img src="./Content/images/pic_01.jpg" alt="">
            八维教育
        </div>
        <div class="sao">
            <span>免费咨询电话</span>
            <b>400-008-0987</b>
        </div>
    </div>
    <div class="header-bottom">
        <div class="list">
            <ul>
                <li class="list-active">
                    <a ng-href="#/pic">简介</a>
                </li>
                <li>
                    <a ng-href="#/jiuye">就业</a>
                </li>
                <li>
                    <a ng-href="#/ruxue">入学</a>
                </li>
                <li>
                    <a ng-href="#/jiaoyu">教育</a>
                </li>
                <li>
                    <a ng-href="#/user">我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>